<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <link rel="shortcut icon" href="/static/public/images/favicon.png"/>
    <link rel="apple-touch-icon" href="/static/public/images/apple-touch-icon-57x57.html"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/static/public/images/apple-touch-icon-72x72.html"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/static/public/images/apple-touch-icon-114x114.html"/>
    <link rel="stylesheet" type="text/css" href="/static/public/css/font-icons.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/public/css/theme-vendors.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/public/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/public/css/responsive.css"/>
    <meta name="viewport" content="width=device-width"/>
    <meta charSet="utf-8"/>
    <title>Welcome | </title>
    <meta name="next-head-count" content="3"/>
    <link rel="preload" href="/static/public/_next/static/css/2f26bb9842d84a608fa3.css" as="style"/>
    <link rel="stylesheet" href="/static/public/_next/static/css/2f26bb9842d84a608fa3.css" data-n-g=""/>
    <noscript data-n-css=""></noscript>
    <link rel="preload" href="/static/public/_next/static/chunks/main-f51844f7b03e1c238dd7.js" as="script"/>
    <link rel="preload" href="/static/public/_next/static/chunks/webpack-50bee04d1dc61f8adf5b.js" as="script"/>



    {% block head %} {% endblock %}
</head>
<body data-mobile-nav-style="classic" style="position: unset !important;">
<div id="__next">
    <header class="header-with-topbar">
        <div class="top-bar bg-light-gray border-bottom border-color-black-transparent d-none d-md-inline-block padding-35px-lr md-no-padding-lr"
             style="top: 0px;">
            <div class="container-fluid nav-header-container">
                <div class="d-flex flex-wrap align-items-center">
                    <div class="col-12 text-center text-sm-left col-sm-auto mr-auto pl-lg-0"></div>
                    <div class="col-auto d-none d-sm-block text-right px-lg-0 font-size-0">
                        <div class="top-bar-contact"><span
                                class="top-bar-contact-list d-none d-md-inline-block no-border-right pr-0"><i
                                class="feather icon-feather-map-pin icon-extra-small text-extra-dark-gray"></i>115184, Ozerkovskaya nab., 24, Moscow, Russia</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg top-space navbar-light bg-white header-light fixed-top navbar-boxed header-reverse-scroll"
             style="top: 49px;">
            <div class="container-fluid nav-header-container">
                <div class="col-6 col-lg-2 mr-auto pl-lg-0"><a class="navbar-brand" href="/"><img
                        src="/static/public/images/logo-gradient-sky-blue-pink.png"
                        data-at2x="images/logo-gradient-sky-blue-pink@2x.png" class="default-logo" alt=""><img
                        src="/static/public/images/logo-black.png" data-at2x="images/logo-black@2x.png" class="alt-logo"
                        alt=""><img
                        src="/static/public/images/logo-gradient-sky-blue-pink.png"
                        data-at2x="images/logo-gradient-sky-blue-pink@2x.png" class="mobile-logo" alt=""></a></div>
                <div class="col-auto menu-order px-lg-0">
                    <button class="navbar-toggler float-right" type="button" data-toggle="collapse"
                            data-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation"><span
                            class="navbar-toggler-line"></span><span class="navbar-toggler-line"></span><span
                            class="navbar-toggler-line"></span><span class="navbar-toggler-line"></span></button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                        <ul class="navbar-nav alt-font">
                            <li class="nav-item dropdown megamenu"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item dropdown megamenu"><a class="nav-link" href="/contact">Contact us</a>
                            </li>
                            <li class="nav-item dropdown megamenu"><a class="nav-link" href="/about">About us</a></li>
                            <li class="nav-item dropdown megamenu"><a class="nav-link" href="/faqs">FAQ's</a></li>
                            <li class="nav-item dropdown simple-dropdown"><a href="#" class="nav-link">Account</a><i
                                    class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown"
                                    aria-hidden="true"></i>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="dropdown">
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/register">Create account</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto text-right pr-0 font-size-0">
                    <div class="header-language dropdown d-lg-inline-block"><a href="javascript:void(0);"><i
                            class="feather icon-feather-globe"></i></a>
                        <ul class="dropdown-menu alt-font">
                                                <div id="google_translate_element"></div>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    {% block body %} {% endblock %}
    <footer class="footer-dark bg-slate-blue">
        <div class="footer-top padding-seven-tb lg-padding-eight-tb sm-padding-50px-tb">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6 col-sm-6 order-5 order-lg-0 text-md-center text-lg-left last-paragraph-no-margin">
                        <a class="margin-5px-top d-inline-block" href="/"><img
                                src="/static/private/dist/images/favicon.png"
                                data-at4x="images/logo-gradient-sky-blue-pink-white@2x.png" style="height: 109px" alt=""/></a>
                        <p style="
                                color: white;
                                font-family: 'Poppins';
                                font-size: 35px;
                            ">Ocowry</p>
                        <p>Please Note that Ocowry is the only official Ocowry website. Other
                            websites even if they resemble the official one and/or contain full or part of the company&#x27;s
                            name in the URL do not relate to Ocowry.</p>
                        <p>© Copyright 2014<!-- --> <a class="text-decoration-line-bottom text-white"
                                                       href="index.html"></a></p></div>
                    <div class="col-12 col-lg offset-xl-1 col-md-3 col-sm-4 order-1 order-lg-0 md-margin-40px-bottom xs-margin-25px-bottom">
                        <span class="alt-font font-weight-500 d-block text-white margin-20px-bottom xs-margin-10px-bottom">Main Navigation</span>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About us</a></li>
                            <li><a href="/contact">Contact us</a></li>
                            <li><a href="/faqs">FAQs</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg col-md-3 col-sm-6 order-4 order-lg-0 xs-margin-25px-bottom"><span
                            class="alt-font font-weight-500 d-block text-white margin-20px-bottom xs-margin-10px-bottom">Account</span>
                        <ul>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Create account</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>
<script id="__NEXT_DATA__" type="application/json">{
    "props": {
        "pageProps": {}
    },
    "page": "/",
    "query": {},
    "buildId": "fO9NtPgy_kXlKJ6AULxw-",
    "nextExport": true,
    "autoExport": true,
    "isFallback": false
}</script>
<script nomodule="" src="/static/public/_next/static/chunks/polyfills-af28de04c604a2479390.js"></script>
<script src="/static/public/_next/static/chunks/main-f51844f7b03e1c238dd7.js" async=""></script>
<script src="/static/public/_next/static/chunks/webpack-50bee04d1dc61f8adf5b.js" async=""></script>
<script type="text/javascript" src="/static/public/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/public/js/theme-vendors.min.js"></script>
<script type="text/javascript" src="/static/public/js/main.js" async=""></script>
<script type="text/javascript" src="/static/public/requests/forms.js" async=""></script>
<script>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
</script>

<script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="//code.tidio.co/ko5vibsevg7vttmfajq1xdcmg8x0jpxg.js" async></script>

</body>
</html>
